{% extends "base.html" %}
{% block content %}
<div class="fd-container">
    <div class="fd-row">
        <div class="fd-col">
            <div class="fd-panel">
                <div class="fd-panel__header">
                    <h3 class="fd-panel__title">Welcome to My Flask App</h3>
                </div>
                <div class="fd-panel__body">
                    <p>This is a sample application using SAP Fiori Fundamentals.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
